<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="054c5040-27a6-4161-800a-a12e4484c7b3" Publisher="CN=Tatu" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PaavoInsurances</DisplayName>
    <PublisherDisplayName>Tatu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PaavoInsurances.App">
      <m2:VisualElements DisplayName="PaavoInsurances" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="PaavoInsurances" ForegroundText="light" BackgroundColor="#01CFFE">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#01CFFE" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>